
<p-table [value]="lista" [tableStyle]="{'min-width': '50rem'}">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th>Codigo </th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Estado</th>
            <th>Botonera</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-columns="columns">
        <tr>
            <td>{{item.codigo}}</td>
            <td>{{item.nombre}}</td>
            <td>{{item.descripcion}}</td>
            <td>{{item.estado}}</td>
        </tr>
    </ng-template>
</p-table>