<ul class="sidenav-nav">
    <li class="" *ngFor="let data of navData">
        <a  class="sidenav-nav-link" [routerLink]="[data.routeLink]" 
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}"
        >
            <i class="" [class]="data.icon"></i>
            <span class="">
                {{data.label}}
            </span>
        </a>
    </li>
</ul>


<router-outlet></router-outlet>